@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
$fontFamily : 'Open Sans', sans-serif;
:root{
    --header-bg: #BED630;
    --header-text : #000000;
    --banner-text-slider : #FFFFFF;
    --second-text-articel : #2A2A2A;
    --line-articel : #EA292B;
    --footer-bg: #1D2A40;
}
.container{
    .btn{
        width: 30px;
        border-radius: 5px;
        padding: 5px;
        height: auto;
        transform: translateX(100px);
        position: fixed;
        bottom: 20px;
        right: 0;
        background-color: var(--header-bg);
        z-index: 300;
        transition: 0.5s;
        cursor: pointer;
        i{
            font-size: 20px;
        }
    }
    .btn.BtnScroll{
        transition: 0.5s;
        transform: translateX(-10px);
    }
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    background-color: var(--banner-text-slider);
    header.header{
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
        background-color: var(--header-bg);
        z-index: 100;
        .header__left{
            width: 200px;
            position: relative;
            top: 0;
            left: 0;
            img{
                display: block;
            }
        }
        .header__logo{
            width: 100px;
            position: absolute;
            left: 10%;
            img{
                width: 100%;
                height: 100%;
                display: block;
            }
        }
        .hamburger{
            width: 30px;
            height: 20px;
            position: absolute;
            right: 20px;
            z-index: 200;
            display: none;
            justify-content: space-between;
            align-items: center;
            flex-direction: column-reverse;
            cursor: pointer;
            span.bar{
                width: 100%;
                height: 3px;
                background-color: #000000;

            }
        }
        nav.navbar{
            width: 450px;
            margin-inline-end: -40%;
            ul.navbar__list__item{
                display: flex;
                justify-content: space-between;
                align-items: center;
                list-style-type: none;
                li.list__item{
                    font-family: $fontFamily;
                    }
                    a.list__link{
                        
                        text-decoration: none;
                        color: #8D9D2D;
                    }
                    a.active{
                        position: relative;
                        transition: 0.5s;
                        color: var(--header-text);
                    }
                    a.active::after{
                        content: ' ';
                        display: block;
                        width: 100%;
                        position: absolute;
                        height: 2px;
                        transition: 0.5s ease-in;
                        background-color: var(--header-text);
                    }
                li.list__item:hover a{
                    color: var(--header-text);
                    transition: 0.5s;
                }
            }
        }
        .header__right{
            width: 200px;
            position: relative;
            right: -3%;
            img{
                display: block;
            }
        }
    }
    .slider{
        position: relative;
        .container__slider{
            max-width: 1200px;
            margin: auto;
            overflow: hidden;
            padding: 70px 0px;
            height: 600px;
            position: relative;
            .frame__slider{
                display: flex;
                min-height: 100%;
                .box__slider{
                    width: 100%;
                    height: 525px;
                    position: relative;
                    img{
                        width: 100%;
                        height: 100%;
                        display: block;
                        object-fit: cover;
                    }
                    .text__slider{
                        position: absolute;
                        bottom: 80px;
                        left: 2%;
                        width: 500px;
                        font-family: $fontFamily;
                        animation: fade 2.8s linear;
                        h1{
                            font-size: 30px;
                            color: var(--banner-text-slider);
                        }
                        span{
                            color: var(--banner-text-slider);
                        }
                    }
                }
            }
            .swiper-pagination{
                bottom: 30px;
                .swiper-pagination-bullet{
                    width: 50px;
                    height: 7px;
                    background: var(--banner-text-slider);
                    border-radius: 5px;
                }
                .swiper-pagination-bullet-active{
                    background: var(--header-bg);
                }
            }
        }
    }
    .articel{
        position: relative;
        padding: 100px 0px;
        .container__articel{
            max-width: 1200px;
            height: auto;
            margin: 0px auto;
            h2{
                font-family: $fontFamily;
                color: #333333;
            }
            h2::after{
                content: ' ';
                display: block;
                background-color: var(--line-articel);
                width: 90px;
                margin-top: 5px;
                height: 3px;
            }
            .row__articel{
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                .box__articel{
                    width: 800px;
                    height: auto;
                    padding: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    .box__articel__news{
                        width: 380px;
                        height: 300px;
                        margin-top: 10px;
                        cursor: pointer;
                        img{
                            width: 100%;
                            display: block;
                            height: 200px;
                            object-fit: cover;
                        }
                        .text__articel{
                            font-family: $fontFamily;
                            padding: 15px 10px;
                            width: 90%;
                            span{
                                font-size: 13px;
                            }
                        }
                    }
                }
                .box__articel-right{
                    width: 380px;
                    height: 600px;
                    margin-top: -3%;
                    h2{
                        position: absolute;
                        top: -40px;
                        color : #333333;
                    }
                    .row__articel__right{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-direction: column;
                        .box__articel__right__news{
                            width: 100%;
                            height: auto;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-top: 5%;
                            .text__articel__right{
                                width: 270px;
                                font-family: $fontFamily;
                                p{
                                    font-size: 15px;
                                }
                                span{
                                    color: var(--line-articel);
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
            button.articel__more{
                padding: 15px 30px;
                display: block;
                margin: 40px auto;
                border: 1px solid #1D2A40;
                outline: none;
                font-family: $fontFamily;
                font-weight: 800;
                background-color: var(--banner-text-slider);
                cursor: pointer;
            }
        }
    }
    section.jabanusa__video{
        position: relative;
        padding:100px 0px;
        .container__jabanusa__video{
            max-width: 1200px;
            margin: 0px auto;
            h1{
                position: relative;
                text-align: center;
                font-family: $fontFamily;
                margin-bottom: 50px;
            }
            h1::after{
                content: ' ';
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 100px;
                margin-top: 5px;
                background-color: var(--line-articel);
                height: 3px;
                display: block;
            }
            .row__jabanusa__video{
                display: flex;
                justify-content: center;
                align-items: center;
                .box__jabanusa__video{
                    width: 800px;
                    img{
                        display: block;
                        object-fit: contain;
                        width: 100%;
                    }
                }
            }
        }
    }
    section.webinar__jurnalistik{
        padding: 100px 0px;
        position: relative;
        h1{
            font-family: $fontFamily;
            text-align: center;
            position: relative;
        }
        h1::after{
            content: ' ';
            display:block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 100px;
            background-color: var(--line-articel);
            height: 3px;
        }
        .container__webinar__jurnalistik{
            max-width: 1200px;
            margin: 0px auto;
            .row__webinar__jurnalistik{
                width: 800px;
                display: flex;
                margin: 30px auto;
                justify-content: space-between;
                align-items: center;
                .box__webinar__jurnalistik__text{
                    width: 300px;
                    margin: 0px 20px;
                    span{
                        font-family: $fontFamily;
                        font-size: 25px;
                        text-align: center;
                        display: block;
                    }
                    button.daftar__disini{
                        display: block;
                        padding: 13px 40px;
                        font-family: $fontFamily;
                        border: 1px solid #1D2A40;
                        outline: none;
                        margin: 20px auto;
                        color: #1D2A40;
                        cursor: pointer;
                        font-weight: bold;
                        background-color: unset;
                    }
                }
                .box__webinar__jurnalistik{
                    width: 600px;
                    background-color: var(--header-bg);
                    height: 350px;
                }
            }
        }
    }
    section.perpustakaan__digital{
        position: relative;
        padding: 150px 0px;
        .container__perpustakaan__digital{
            max-width: 1200px;
            margin: 0px auto;
            h1{
                position: relative;
                text-align: center;
                font-family: $fontFamily;
            }
            h1::after{
                display: block;
                content: ' ';
                width: 100px;
                position: absolute;
                left: 50%;
                background-color: var(--line-articel);
                transform: translateX(-50%);
                height: 3px;

            }
            .row__perpustakaan__digital{
                margin-top: 5%;
                .box__perpustakaan__digital{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .box__perpustakaan__digital__inside{
                        width: 800px;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        .text__perpustakaan__digital{
                            width: 400px;
                            font-family: $fontFamily;
                            button.btn__perpustakaan__digital{
                                display: block;
                                margin: 20px 0px;
                                border: 1px solid #1D2A40;
                                font-family: $fontFamily;
                                padding: 12px 40px;
                                color: #1D2A40;
                                background-color: unset;
                                cursor: pointer;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer{
        position: relative;
        padding: 30px 0px;
        background-color: var(--footer-bg);
        footer{
            text-align: center;
            font-family: $fontFamily;
            font-size: 13px;
            font-style: italic;
            color: var(--banner-text-slider);
        }
    }
}
@keyframes scroll {
    from{
        transform: translateX(50px);
    }
    to{
        transform: translateX(0px);
    }
}
